* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

.body {
    width: 100%;
    height: 100vh; 
}

.home {
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    background-image: url('src/assets/img/background3.jpg'); 
    background-size: cover; 
    background-position: center; 
}




.classification-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #02021C;
    width: 100%;
    height: 75vh;
}

.image-container {
    margin-bottom: 20px;
}

.toggle-button {
    background-color: #4CAF50; /* Cor verde */
    color: white;
    border: none;
    padding: 10px 20px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.toggle-button:hover {
    background-color: #45a049; /* Cor verde mais escura ao passar o mouse */
}

.card-container-classification {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-classification {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%; 
    margin: 20px 0;
    background-color: rgba(255, 255, 255, 0.6); 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    padding: 20px;
}

.card-container-device {
    width: 100%;
    height: 80vh; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: relative; 
    background-image: url('src/assets/img/fundo.jpg'); 
    background-size: cover; 
    background-position: center; 
}

.card-container-device::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #84B9F670; 
    z-index: 1; 
}

.card-device {
    position: relative; 
    z-index: 2; 
    color: white; 
    padding: 20px;
    background-color: #4a91cf; 
    border-radius: 10px;
}

.show-data-button {
    padding: 10px 20px;
    background-color: #4CAF50; /* Cor verde */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.show-data-button:hover {
    background-color: #45a049; /* Cor verde escuro ao passar o mouse */
}


@media (max-width: 1024px) {
    .title {
        font-size: 1.2rem;
        margin-left: 20px;
    }
    
    .header nav button {
        padding: 0.5rem 1rem;
    }

    .image-container img {
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .title {
        margin-left: 0;
        font-size: 1.5rem;
    }

    .classification-content {
        flex-direction: column; 
        align-items: center; 
    }

    .image-container {
        padding-right: 0;
        margin-bottom: 20px;
    }

    .card-container-classification {
        margin-right: 0;
        max-width: 90%;
    }
}

@media (max-width: 480px) {
    .header {
        padding: 0.5rem;
    }

    .header nav {
        display: none; 
    }

    .title{
        margin-top: 10px;
    }

    .hamburger-menu {
        display: block; 
        margin-right: 360px;
    }

    .mobile-menu.open {
        display: flex; 
        background-color: rgba(255, 255, 255, 0.6);
        margin-right: 260px;
        margin-top: 64px;
    }

    .header-section h2 {
        font-size: 1.2rem;
    }

    .card {
        padding: 1.5rem;
        margin-left: 10px;
        margin-right: 10px;
    }

    .card-container-device {
        height: 60vh;
    }

    .card-device{
        margin-left: 10px;
        margin-right: 10px;
    }

    .classification-content {
        width: 100%;
        height: 75vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center; 
        flex-wrap: wrap;
    }

    .image-container {
        padding-right: 0px;
        margin-top: 70px;
        margin-bottom: 0px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .card-container-classification {
        margin-right: 67px;
        max-width: 60%;
        padding: 20px;
        margin-bottom: 40px;
    }

}

@media (max-width: 460px) {

    .header {
        padding: 0.5rem;
    }

    .header nav {
        display: none; /* Esconder os botões de navegação padrão */
    }

    .title{
        margin-top: 10px;
    }

    .hamburger-menu {
        display: block; /* Mostrar o ícone de menu hambúrguer */
        margin-right: 300px;
    }

    .mobile-menu.open {
        display: flex; /* Mostrar o menu quando estiver aberto */
        background-color: rgba(255, 255, 255, 0.6);
        margin-right: 160px;
        margin-top: 64px;
    }

}