* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

.body {
    width: 100%;
    height: 100vh; 
}

.home {
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    background-image: url('src/assets/img/background3.jpg'); 
    background-size: cover; 
    background-position: center; 
}




.classification-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #02021C;
    width: 100%;
    height: 85vh;
}

.image-container {
    margin-bottom: 20px;
}


.card-container-classification {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-classification {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%; 
    margin: 20px 0;
    background-color: rgba(255, 255, 255, 0.6); 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    padding: 20px;
    margin-bottom: 8px;
}

.carouselButton {
    background-color: rgba(255, 255, 255, 0.6); 
    border: none; 
    border-radius: 50%; 
    width: 60px; 
    height: 60px; 
    cursor: pointer; 
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1; 
    display: flex; 
    align-items: center;
    justify-content: center; 
    font-size: 24px; 
}


.card-container-device {
    width: 100%;
    height: 90vh; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: relative; 
    background-image: url('src/assets/img/fundo.jpg'); 
    background-size: cover; 
    background-position: center; 
    
}

.card-container-device::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(132, 185, 246, 0.3); 
    z-index: 1; 
    pointer-events: none; 
}



.show-data-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.show-data-button:hover {
    background-color: #45a049; 
}


@media (max-width: 1024px) {
    .title {
        font-size: 1.2rem;
        margin-left: 20px;
    }
    
    .header nav button {
        padding: 0.5rem 1rem;
    }

    .image-container img {
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .title {
        margin-left: 0;
        font-size: 1.5rem;
    }

    .classification-content {
        flex-direction: column; 
        align-items: center; 
    }

    .image-container {
        padding-right: 0;
        margin-bottom: 20px;
    }

    .card-container-classification {
        margin-right: 0;
        max-width: 90%;
    }

    .card {
        min-width: 100%; 
    }

    .toggle-button {
        width: 100%; 
        padding: 15px;
    }
}

@media (max-width: 480px) {
    .header {
        padding: 0.5rem;
    }

    .header nav {
        display: none; 
    }

    .title{
        margin-top: 10px;
    }

    .hamburger-menu {
        display: block; 
        margin-right: 360px;
    }

    .mobile-menu.open {
        display: flex; 
        background-color: rgba(255, 255, 255, 0.6);
        margin-right: 260px;
        margin-top: 64px;
    }

    .header-section h2 {
        font-size: 1.2rem;
    }

    .card {
        padding: 1rem;
        margin-left: 10px;
        margin-right: 10px;
        width: 100px;
    }

    .card-container-device {
        height: 60vh;
    }

    .card-device{
        margin-left: 10px;
        margin-right: 10px;
    }

    .classification-content {
        width: 100%;
        height: 75vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center; 
        flex-wrap: wrap;
    }

    .image-container {
        padding-right: 0px;
        margin-top: 70px;
        margin-bottom: 0px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .card-container-classification {
        margin-right: 67px;
        max-width: 60%;
        padding: 20px;
        margin-bottom: 40px;
    }

}

@media (max-width: 460px) {

    .header {
        padding: 0.5rem;
    }

    .header nav {
        display: none; 
    }

    .title{
        margin-top: 10px;
    }

    .hamburger-menu {
        display: block; 
        margin-right: 300px;
    }

    .card-classification {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 650px; 
        margin: 10px;
        padding: 20px;
        margin-bottom: 8px;
    }
}